# Build results
[Bb]in/
[Oo]bj/
obj/
obj/**/*
[Bb]uild/

# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.GeneratedMSBuildEditorConfig.editorconfig
*.genruntimeconfig.cache
*FileListAbsolute.txt

# Temporary files
*.log
*.tmp

# HCA files in p3r directory
p3r/ 